body {
    margin: 0px;
}

header {
    width: 100%;
    background-color: rgb(86, 46, 255);
    padding: 10px 0px;
}

.container {
    width: 70%;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 51px;
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.logo h2 {
    color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu li {
    list-style: none;
    display: inline;
    margin: 15px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu img {
    width: 51px;
    height: 51px;
}

.top-section {
    background-color: rgb(229, 229, 229);
    display: flex;
}

.top-player {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.title {
    margin: 0px;
    color: rgb(86, 46, 255);
    font-size: 24px;
}

.Players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    margin-top: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.Players img {
    width: 56px;
    height: 56px;
}

.name {
    margin-left: 30px;
}

hr {
    border: 1px solid rgb(227, 215, 215);
    margin-top: 30px;
}

.blog-section {
    margin-top: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0px;
    row-gap: 30px;
}

.blog {
    display: flex;
    align-items: center;
}

.feature-img {
    margin-right: 20px;
}

.feature-img img {
    width: 177px;
    height: 117px;
}

.info h5 {
    font-size: 16px;
    color: rgb(155, 145, 145);
}

.info a {
    text-decoration: none;
    color: rgb(86, 46, 255);
}

h4 {
    font-size: 20px;
    margin: 15px 0px;
}

.course-section {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.lates {
    padding: 20px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    padding: 20px;
}

.course {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 20px;
    padding-top: 10px;
}

.course img {
    width: 224px;
    height: 104px;
}

.course h6 {
    color: rgb(251, 41, 41);
    margin: 0px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    justify-content: center;
    padding: 20px 0px;
}

.star i {
    font-size: 12px;
    color: rgb(231, 189, 94);
}

.color {}

.star span {
    font-size: 12px;
}

.rating {
    padding: 8px;
    background-color: rgb(249, 235, 235);
    border-radius: 35px;
    margin-right: 10px;
}

.clock {
    color: red;
}

.rating span {
    color: rgb(231, 71, 71);
}