body {
    margin: 0;
}

header {
    width: 100%;
    background-color: #562EFF;
    padding: 10px 0;
}

.container {
    width: 70%;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 40%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 51px;
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.logo h2 {
    color: #ffffff;
}

.menu {
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu li {
    list-style: none;
    display: inline;
    margin: 15px;
}

nav a {
    columns: #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.menu img {
    width: 51px;
    height: 51px;
}

/* main-section */

.top-section {
    background-color: #E5E5E5;
    display: flex;
}

.top-player {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}



.title {
    margin: 0;
    color: #562EFF;
    font-size: 24px;
}

.Players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-top: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.Players img {
    width: 56px;
    height: 56px;
}

.name {
    margin-left: 30px;
}

hr {
    border: 1px solid #e3d7d7;
    margin-top: 30px;
}

.blog-section {
    margin-top: 30px;
}



.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;
    grid-row-gap: 30px;
}

.blog {
    display: flex;
    align-items: center;
}

.feature-img {
    width: 125;
    margin-right: 20px;
}

.feature-img img {
    width: 177px;
    height: 117px;
}


.info h5 {
    font-size: 16px;
    color: #9b9191;
}

.info a {
    text-decoration: none;
    color: #562EFF;
}

h4 {
    font-size: 20px;
    margin: 15px 0;
}



.course-section {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.lates {
    padding: 20px;
}


.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    padding: 20px;
}

.course {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-left: 20px;
    padding-top: 10px;
}

.course img {
    width: 224px;
    height: 104px;
}

.course h6 {
    color: #fb2929;
    margin: 0;
}